.callback-modal {
  .modal-dialog {
    max-width: 1010px;
  }

  .modal-content {
    background: url(../images/coffee-market-small-beans-left.png) -17% 52% no-repeat,
    url(../images/coffee-market-small-beans-right.png) 133% 66% no-repeat,
    linear-gradient(90deg, #C08E88 -2.51%, #D3A950 100%);
    background-size: 43% auto, 43% auto, auto;
    box-shadow: 30px 54px 64px rgba(0, 0, 0, 0.17);
    border-radius: 20px;
    color: white;
    padding-bottom: 40px;
  }

  form {
    max-width: 394px;
    margin: auto;
  }
}