.cost-card {
  height: 100%;
  max-width: 672px;
  display: flex;
  flex-direction: column;
}

.cost-card__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 33px 1rem 30px;
  background: #FCF9F2;
  box-shadow: 30px 54px 64px rgba(211, 169, 80, 0.2);
  border-radius: 15px;
  text-align: center;
  margin-bottom: 20px;
  flex-grow: 1;

  .cost-card__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #D3A950;
    margin-bottom: 16px;
  }

  .cost-card__price {
    font-size: 36px;
    line-height: 51px;
    color: #000000;
    margin-bottom: 24px;
  }

  .cost-card__hours {
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #8F939E;
  }
}

.cost-card__btn {
  width: 100%;
}