.entry {
  background-size: cover;
  background-position: center;
  color: white;
  padding-top: 45px;
  padding-bottom: 80px;
  font-size: 24px;

  h1 {
    line-height: 100%;
  }

  .entry__stamp {
    max-width: 100%;
    margin-top: -85px;
    transform: translateY(25px);
  }

  .entry__text-wrap {
    font-weight: 300;
    margin-bottom: 145px;

    h1 {
      font-weight: 300;
    }
  }
}