@import "../variables";

.founders {
  padding-bottom: 120px;
}

.founders__top {
  color: white;
  background: url(../images/founders/founders.jpg) center 21% no-repeat;
  background-size: cover;
  padding-top: 85px;
  padding-bottom: 800px;

  @include respond-to(lg) {
    padding-bottom: 500px;
  }
}

.founders__title {
  text-align: center;
  text-transform: uppercase;
}

.founders__middle {
  display: flex;
  margin-top: -300px;
  margin-left: 18%;
  flex-wrap: nowrap;

  @include respond-to(xl) {
    margin-left: 0;
  }

  @include respond-to(lg) {
    flex-direction: column;
  }
}

.founders__btn {
  align-self: flex-start;
  white-space: nowrap;
  margin-left: 20px;

  @include respond-to(lg) {
    margin-bottom: 15px;
    margin-left: auto;
  }
}

.founders__founder-wrap {
  display: flex;
}

.founders__founder {
  color: white;
  line-height: 230%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: -10px;
  padding-bottom: 42px;
  position: relative;

  @include respond-to(lg) {
    padding-bottom: 0;
    margin-bottom: 20px;
  }

  &:after {
    content: "";
    width: 32px;
    height: 32px;
    background: white;
    position: absolute;
    bottom: -16px;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform 0.2s ease-in;
    transform: rotate(45deg) translate(30px, 30px);

    @include respond-to(lg) {
      display: none;
    }
  }

  &.show-pin {
    &:after {
      transform: rotate(45deg) translate(0, 0);
    }
  }
}

.founders__founder-name {
  font-size: 44px;
  line-height: 1;
  background: $pink-light;
  border-radius: 5px 5px 0 0;
  padding: 13px 20px 0 20px;

  @include respond-to(xl) {
    font-size: 36px;
  }

  @include respond-to(md) {
    font-size: 24px;
  }
}

.founders__founder-last-name {
  font-size: 28px;
  font-weight: 300;
  background: $pink-light;
  border-radius: 0 5px 5px 5px;
  padding: 0 20px 0 20px;

  @include respond-to(xl) {
    font-size: 22px;
  }

  @include respond-to(md) {
    font-size: 18px;
  }
}

.founders__founder_second {
  margin-right: 20px;

  .founders__founder-name {
    background: $blue-light;
    border-radius: 5px 5px 5px 0;
  }

  .founders__founder-last-name {
    background: $blue-light;
    border-radius: 0 0 5px 5px;
  }
}

.founders__read-btn {
  font-size: 16px;
  font-weight: 500;
  color: white;
  display: block;
  margin: 10px 30px 0 0;
  white-space: nowrap;

  @include respond-to(md) {
    font-size: 14px;
    svg {
      width: 24px;
      height: 24px;
    }
  }

  &:hover {
    text-decoration: none;
    color: $gold;

    path {
      fill: $gold;
    }
  }
}

.founders__bottom {
  background: #FFFFFF;
  box-shadow: 30px 54px 64px rgba(0, 0, 0, 0.17);
  border-radius: 20px;
  padding: 70px 95px 60px 100px;
  font-size: 22px;
  line-height: 30px;
  font-weight: 300;
  max-height: 800px;

  @include respond-to(lg) {
    padding: 15px;
    font-size: 18px;
  }
}

.founders__subtitle {
  font-size: 40px;
  color: $gold;
  text-align: center;
  text-transform: uppercase;
  line-height: 60px;
  margin-bottom: 20px;

  @include respond-to(lg) {
    font-size: 28px;
    line-height: 32px;
    padding-right: 0;
  }
}

.founders__footer {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;

  @include respond-to(md) {
    flex-direction: column;
  }

  cite {
    font-size: 18px;
    color: $danger;
    font-style: normal;
    margin-top: 26px;
    display: block;
    text-align: right;
    font-weight: 400;
  }
}