@import "../variables";

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1580px;
  margin: auto;
}

.gallery__img {
  width: 33.333%;
  display: block;
  position: relative;

  &:hover {
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(129.14deg, rgba(215, 210, 204, 0.5) 0%, rgba(48, 67, 82, 0.5) 100%);
      opacity: 0.85;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include respond-to(md) {
    width: 50%;
  }
}