@import "../variables";

.map-popup {
  .modal-dialog {
    max-width: 1072px;
  }

  .modal-header {
    align-items: center;
    justify-content: flex-start;
    border-radius: 20px 20px 0 0;
    background: white;

    @include respond-to(md) {
      flex-wrap: wrap;
    }
  }

  .modal-body {
    padding: 0;
    border-radius: 0 0 20px 20px;
    overflow: hidden;
  }

  .modal-content {
    border-radius: 0;
    border: none;
    background: none;
  }

  .map-popup__caption {
    font-size: 36px;
    font-weight: 500;
    margin-right: 55px;

    @include respond-to(md) {
      font-size: 22px;
      margin-right: 15px;
    }
  }

  .map-popup__cup {
    margin-right: 20px;
  }

  .map-popup__address-wrap {
    width: 250px;
    display: flex;
    margin-right: auto;
    line-height: 32px;
    align-items: baseline;

    @include respond-to(md) {
      font-size: 14px;
      line-height: 22px;
    }

    i {
      margin-right: 15px;
    }
  }

  .map-popup__watch-link-wrap {
    display: flex;
    align-items: flex-end;

    a {
      margin-left: 10px;
      color: $green;
    }
  }

  .map-popup__schedule-wrap {
    background: $gold;
    color: white;
    font-weight: 300;
    padding: 24px 32px;
    display: flex;

    @include respond-to(md) {
      font-size: 14px;
      padding: 16px;
    }

    svg {
      margin-right: 15px;
    }
  }

  .map-popup__close {
    position: absolute;
    right: 0;
    top: -40px;
    border: none;
    color: red;
    padding: 0;
    background: none;

    @include respond-to(md) {
      right: 10px;
      top: 10px;
    }
  }

  .map-popup__slide-img {
    object-fit: cover;
    width: 100%;
    height: 400px;
  }


  .map-popup__nav-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 42px;
    height: 60px;
    border: none;
    left: 15px;
    z-index: 5;
    background: none;

    &.map-popup__nav-btn_next {
      left: auto;
      right: 15px;
    }

    &:hover {
      path {
        fill: $gold;
      }
    }

    &.swiper-button-disabled {
      opacity: 0.2;
    }
  }
}