@import "../variables";

.meeting {
  padding-top: 95px;
}

.meeting__radio, .meeting__radio label {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.meeting__radio {
  height: 100%;
  padding: 0 35px 30px;

  @include respond-to(lg) {
    align-items: flex-start;
  }

  img {
    height: 110px;
    margin-bottom: 35px;
  }

  label {
    margin-bottom: 30px;
    height: 100%;
  }

  input {
    display: none;
  }

  input + label {
    cursor: pointer;

    &:after {
      content: "";
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid $gray-light;
      position: absolute;
      bottom: 0;

      @include respond-to(lg) {
        align-items: flex-start;
        top: 35px;
        left: 0;
        bottom: auto;
        margin: auto;
      }
    }

    &:hover:after {
      background: radial-gradient(circle at center, $gray-light, $gray-light 8px, transparent 8px)
    }


    @include respond-to(lg) {
      flex-direction: row;
      text-align: left;

      img {
        margin-right: 15px;
        margin-bottom: 0;
      }
    }
  }

  input:checked + label {
    &:after {
      background: radial-gradient(circle at center, $green, $green 8px, transparent 8px)
    }
  }
}