@import "../variables";

.network {
  padding-top: 170px;
  position: relative;
  overflow: hidden;

  @include respond-to(lg) {
    padding-top: 70px;
  }

  .network__top-img {
    &:not(:first-of-type) {
      position: absolute;
      z-index: 7;
      @include respond-to(lg) {
        display: none;
      }
    }

    &:nth-child(1) {
      @include respond-to(lg) {
        width: 100%;
        margin-top: 15px;
      }
    }

    &:nth-child(2) {
      top: -40px;
      left: -35px;
    }

    &:nth-child(3) {
      top: -100px;
      left: -210px;
    }

    &:nth-child(4) {
      bottom: -100px;
      left: -125px;
    }

    &:nth-child(5) {
      bottom: -30px;
      left: 60px;
    }

    &:nth-child(6) {
      bottom: -150px;
      left: 110px;
    }

    &:nth-child(7) {
      bottom: -120px;
      left: 270px;
    }

    &:nth-child(8) {
      bottom: -70px;
      left: 400px;
      z-index: 6;
    }
  }

  #map {
    height: 1000px;
    width: 100%;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      background: url('../images/network/mask.png');
      background-size: cover;
      pointer-events: none;
      z-index: 2;
    }
  }

  .network__footer {
    padding: 6px 12px;
    font-weight: bold;
    background: $gold;
    font-size: 20px;
    margin-top: -72px;
    position: relative;

    img {
      height: 60px;
      margin-right: 15px;
    }

    @include respond-to(md) {
      font-size: 16px;
    }
  }

  .network__footer-btn {
    z-index: 5;
    position: absolute;
    right: 0;
    transform: translate(80px, -70px);

    @include respond-to(md) {
      transform: translate(0, -70px);
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}

.network__overlay {
  background: #3800007d;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  pointer-events: none;

  .network__overlay-cup {
    position: absolute;
    transform: translate(-33px, -95px) scale(1.2);
  }
}
