@import "../variables";

.reviews {
  padding-top: 96px;
  padding-bottom: 56px;
  background: linear-gradient(to bottom, #ffffff 0%, #F4E9D3 900px);
}

.reviews__title {
  margin-bottom: 59px;
  text-transform: uppercase;
  text-align: center;
}

.reviews__author {
  opacity: 0;
  transition: opacity 0.1s ease-in;
}

.reviews__slider {

  .swiper-slide {
    opacity: 0.3;
    transition: opacity 0.1s ease-in;
  }

  .swiper-slide-active {
    opacity: 1;

    .reviews__author {
      opacity: 1;
    }
  }
}

.reviews__nav-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 42px;
  height: 60px;
  border: none;
  left: 18%;
  z-index: 5;
  background: none;
  transform: translateY(-35px);

  @include respond-to(lg) {
    display: none;
  }

  &.reviews__nav-btn_next {
    left: auto;
    right: 18%;
  }

  &:hover {
    path {
      fill: $gold;
    }
  }
}