.video-block {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  display: block;

  .video-block__btn-play {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(252, 250, 244, .2);
  }

  .video-block__preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }


  @include respond-to(sm) {
    height: auto;
    max-width: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }
}