@import "../variables";

.btn {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
  line-height: 28px;
  padding: 18px 52px 18px;
  border: none;
  box-sizing: border-box;
  border-radius: 29px;
  outline: none !important;

  &:hover {
    text-decoration: none;
  }

  &.btn_primary, &.btn_secondary {
    font-size: 20px;
    line-height: 28px;
    background: #EA1D19;
    color: #FFFFFF;

    &:hover {
      background: #ea5f5f;
    }

    @include respond-to(sm) {
      padding: 20px 30px 16px;
    }
  }

  &.btn_secondary {
    background: #F2C94C;
    color: #212126;
    font-weight: normal;

    &:hover {
      background: #efd279;
    }
  }

  &.btn_sm {
    padding: 11px 41px 11px;
    font-size: 16px;
    line-height: 23px;
  }

  &.btn_dark {

  }

  &.btn_info {
    background: linear-gradient(180deg, lighten($info, 10%) 0%, $info 100%);
    color: white;
  }

  &.btn_light {

  }

  &.btn_link {
    background: none;
    box-shadow: none;
    border: none;
    padding: 0;
  }


}

.btn-play {
  background: url(../images/icon-play.svg);
  background-size: 100% 100%;
  width: 60px;
  height: 60px;
  border: none;
}