@import "../variables";

.tabs {
  display: flex;
  width: 100%;
  font-size: 22px;

  .nav-item {
    flex-grow: 1;
    text-align: center;

    .tabs__item {
      display: block;
      background: #F0E2C3;
      color: white;
      border: none;
      padding: 15px 31px 30px 31px;
      border-radius: 20px 20px 0 0;
      margin-bottom: -20px;

      &.active {
        background: $gold !important;
      }
    }

    &:nth-child(odd) .tabs__item {
      background: #E7D1A3;
    }
  }
}