@import "../variables";

.navbar {
  display: flex;
  align-items: center;
  margin-bottom: 160px;
  flex-wrap: wrap;

  @include respond-to(lg) {
    justify-content: center;
  }

  .navbar__logo {
    margin-right: 30px;
  }

  .navbar__title {
    font-weight: 600;
    font-size: 52px;
    line-height: 52px;
    transform: rotate(-3deg);
  }

  .navbar__menu {
    list-style: none;
    padding: 0;
    margin: 0 0 0 auto;
    display: flex;
    flex-wrap: wrap;
    @include respond-to(lg) {
      justify-content: center;
      width: 100%;
      margin-top: 30px;
    }
  }

  .navbar__link {
    display: block;
    color: white;
    margin-left: 16px;
    white-space: nowrap;
    font-size: 22px;

    i {
      font-size: 14px;
      transform: translateY(-15px);
    }

    @include respond-to(md) {
      padding: 15px 0;
    }
  }
}