@import "../../variables";

.coffee-market {
  padding-top: 360px;
  padding-bottom: 278px;
  background: url("../images/coffee-market-small-beans-left.png") left no-repeat,
  url("../images/coffee-market-small-beans-right.png") right top no-repeat,
  url("../images/coffee-market-big-bean.png") right 50% no-repeat;

  @include respond-to(xl) {
    background-size: contain;
  }
  @include respond-to(lg) {
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
    url("../images/coffee-market-small-beans-right.png") right no-repeat,
    url("../images/coffee-market-big-bean.png") center no-repeat;

  }
  @include respond-to(sm) {
    padding: 120px 0;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../images/coffee-market-small-beans-left.png") left top no-repeat,
    url("../images/coffee-market-small-beans-right.png") right bottom no-repeat;
    background-size: contain;
  }

  .coffee-market__title {
    text-transform: uppercase;
    line-height: 54px;
    margin-bottom: 0;
    @include respond-to(sm) {
      font-size: 32px;
    }
  }

  .coffee-market__text-main {

    font-size: 36px;
    line-height: 40px;
    font-weight: bold;
    margin-bottom: 34px;

    span {
      font-size: 62px;
      line-height: 70px;
      font-weight: 700;
      @include respond-to(sm) {
        font-size: 50px;
      }

    }

    @include respond-to(sm) {
      font-size: 26px;
      margin-bottom: 15px;
    }
  }

  .coffee-market__text-secondary {
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    color: #D3A950;
  }

  .coffee-market__content {
    @include respond-to(lg) {
      margin-right: auto;
      margin-left: auto;
    }
  }

  .coffee-market__content-wrap {
    @include respond-to(xl) {

      background: rgba(255, 255, 255, 0.9);
      box-shadow: 0 0 17px 22px rgba(255, 255, 255, 0.9);
    }
    @include respond-to(sm) {

      background: none;
      box-shadow: none;
    }
  }
}

//linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),