.helpful-info {
  background: rgb(203, 208, 216, 0.5);
  padding-top: 96px;
  padding-bottom: 104px;
  @include respond-to(lg){
    padding-top: 66px;
    padding-bottom: 80px;
  }
  @include respond-to(sm){
    padding-bottom: 48px;
  }

  .helpful-info__title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 60px;
    @include respond-to(lg){
      margin-bottom: 36px;
    }
  }

  .helpful-info__content {
    margin-bottom: 85px;
    @include respond-to(sm){
      margin-bottom: 48px;
    }
  }


  .helpful-info__btn {
    &.btn_primary {
      padding: 9px 64px 8px;
      @include respond-to(sm) {
        padding: 9px 20px 8px;
      }
    }
.fa-youtube{

  font-weight: normal;
  font-size: 38.2609px;
  line-height: 44px;
  vertical-align: middle;
  margin-left: 21px;
  @include respond-to(sm) {
    margin-left: 10px;
  }
}

  }
}
