@import "../../variables";

.history {
  padding-top: 95px;
  padding-bottom: 57px;

  @include respond-to(lg) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.history__image {
  position: absolute;
  bottom: 0;
  padding-right: 32px;

  @include respond-to(md) {
    position: static;
    margin-bottom: 30px;
  }
}

.history__title-wrap {
  position: absolute;
  width: 100%;
}

.history__item {
  border-left: 1px solid #F0E3C5;
  position: relative;
  padding-top: 20px;
  padding-bottom: 45px;
  z-index: 5;

  p + p {
    margin-top: 10px;
  }

  &:before {
    content: "";
    width: 1px;
    height: 53px;
    position: absolute;
    bottom: -53px;
    left: -1px;
    transform: rotate(-45deg);
    transform-origin: top;
    background: #F0E3C5;
  }

  &:nth-child(1) {
    margin-top: 265px;
    padding-bottom: 15px;

    @include respond-to(xl) {
      margin-top: 195px;
    }

    @include respond-to(lg) {
      margin-top: 155px;
    }
  }

  &:nth-child(2) {
    margin-top: 250px;

    @include respond-to(xl) {
      margin-top: 180px;
    }

    @include respond-to(lg) {
      margin-top: 140px;
    }
  }

  &:nth-child(3) {
    margin-top: 160px;

    @include respond-to(xl) {
      margin-top: 130px;
    }

    @include respond-to(lg) {
      margin-top: 78px;
    }
  }

  &:nth-child(4) {
    margin-bottom: 398px;
    padding-bottom: 85px;

    @include respond-to(xl) {
      margin-bottom: 320px;
    }

    @include respond-to(lg) {
      margin-bottom: 250px;
    }
  }

  @include respond-to(md) {
    margin-top: 0 !important;
    margin-bottom: 45px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    &:before {
      content: none !important;
    }
  }
}

.history__btn {
  width: 394px;
  position: absolute;
  right: 0;
  bottom: 100px;

  @include respond-to(xl) {
    bottom: 0;
  }

  @include respond-to(lg) {
    width: 250px;
    padding: 10px 20px!important;
  }

  @include respond-to(md) {
    position: static;
    order: 3;
  }
}