@import "../../variables";

.prices {
  padding-top: 97px;
  padding-bottom: 80px;
  background: linear-gradient(to bottom, #ffffff 0%, #F4E9D3 900px);
}

.prices__table {
  margin-top: 90px;
  margin-bottom: 64px;
  display: block;
  overflow-x: auto;
  font-size: 20px;
  width: 100%;

  @include respond-to(md) {
    font-size: 16px;
  }

  thead {
    font-weight: bold;
  }

  tbody, thead {
    display: block;
    width: 100%;
    min-width: 750px;
  }

  tr {
    display: flex;
  }

  td {
    width: 33.33%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 32px;
    min-height: 96px;

    @include respond-to(md) {
      padding: 12px 12px;
      min-height: 48px;
    }
  }

  td:nth-child(1) {
    justify-content: flex-start;
  }

  td:nth-child(2) {
    margin-right: 32px;
  }

  tbody {
    tr:nth-child(odd) {
      td:nth-child(2) {
        background: #F4EBE1;
      }

      td:nth-child(3) {
        background: #F6EDDA;
      }
    }
  }

  .prices__bar-title, .prices__coffee-title{
    font-size: 40px;
    font-weight: bold;

    @include respond-to(xl){
      font-size: 28px;
    }
  }

  .prices__bar-title {
    color: $pink-light;

    img {
      margin-left: 17px;
      margin-top: -17px;
    }
  }

  .prices__coffee-title {
    color: $gold;

    img {
      margin-left: 17px;
      margin-top: -40px;
    }
  }
}