@import "../../variables";

.process {
  padding-top: 96px;
  padding-bottom: 50px;
  background: linear-gradient(to bottom, #ffffff 0%, #F4E9D3 900px);

  .simplebar-track.simplebar-vertical {
    right: auto;
    left: 5px;
  }

  .simplebar-scrollbar.simplebar-visible:before {
    opacity: 0.1;
  }
}

.process__title {
  text-transform: uppercase;
  margin-bottom: 44px;
  text-align: center;
}

.process__text {
  padding: 37px 0 32px 28px;
  line-height: 30px;
  max-height: 500px;

  @include respond-to(lg) {
    padding: 15px;
  }
}

.process__tab-content {
  background: #FFFFFF;
  border: 8px solid #D3A950;
  box-shadow: 30px 54px 64px rgba(0, 0, 0, 0.17);
  border-radius: 0 20px 20px 20px;
  object-fit: cover;
  overflow: hidden;
  position: relative;

  @include respond-to(lg) {
    border: none;
    border-top: 8px solid #D3A950;
    border-radius: 0 0 20px 20px;
  }
}

.process__man-wrap {
  z-index: 5;
}

.process__hello {
  font-family: SignPainter, sans-serif;
  color: $danger;
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  top: 26%;
  left: -32px;
  transform: rotate(-6deg);

  @include respond-to(lg) {
    display: none;
  }
}

.process__man {
  position: absolute;
  height: 95%;
  top: auto;
  bottom: 0;
  left: 0;
  padding: 0 15px;

  @include respond-to(xl) {
    height: 58%;
  }

  @include respond-to(lg) {
    display: none;
  }
}

.process__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0 15px;
  object-fit: cover;

  @include respond-to(lg) {
    position: static;
    padding: 0;
  }
}
