@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~@fortawesome/fontawesome-free/scss/variables";

$danger: rgba(#EA1D19, 1);
$green: rgba(#4ADB9A, 1);
$green-light: rgba(#86EFC0, 1);
$green-dark: rgba(#38996D, 1);
$dark: rgba(#212126, 1);
$blue: rgba(#0538A1, 1);
$blue-light: rgba(#0070C9, 1);
$gray-light: rgba(#CBD0D8, 1);
$gray-dark: rgba(#8F939E, 1);
$gold: rgba(#D3A950, 1);
$pink-light: rgba(#C08E88, 1);
$yellow: rgba(#F2C94C, 1);

$base-font: 18px/130% Navigo, sans-serif;


$h1-font: 600 48px/68px Navigo, sans-serif;
$h1-font-sm: 800 32px/130% Navigo, sans-serif;
$h1-margin-bottom: 40px;

$h2-font: 600 40px/150% Navigo, sans-serif;
$h2-font-sm: 800 28px/130% Navigo, sans-serif;
$h2-margin-bottom: 30px;

$h3-font: 500 36px/46px Navigo, sans-serif;
$h3-font-sm: 800 24px/130% Navigo, sans-serif;
$h3-margin-bottom: 19px;

$h4-font: 600 24px/130% Navigo, sans-serif;
$h4-font-sm: $h4-font;
$h4-margin-bottom: 18px;

$h5-font: 600 20px/130% Navigo, sans-serif;
$h5-font-sm: $h5-font;
$h5-margin-bottom: 6px;

$spacers: (
        6: ($spacer * 6),
        7: ($spacer * 7),
        8: ($spacer * 8),
        9: ($spacer * 9),
        10: ($spacer * 10)
);

$theme-colors: (
        "primary": $gold,
        "secondary": $yellow,
        "green": $green,
        "gray-light": $gray-light,
);

$grid-gutter-width: 32px;

$grid-breakpoints: (
        xs: 0,
        sm: 577px,
        md: 900px,
        lg: 1120px,
        xl: 1430px
);

$container-max-widths: (
        sm: 576px,
        md: 720px,
        lg: 940px,
        xl: 1248px
);

$fa-font-path: "../fonts";

@mixin respond-to($breakpoint) {
  // If the breakpoint exists in the map.
  @if map-has-key($grid-breakpoints, $breakpoint) {
    // Write the media query.
    @media (max-width: map-get($grid-breakpoints, $breakpoint)) {
      @content;
    }

    // If the breakpoint doesn't exist in the map.
  } @else {

    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}
