@import "../../variables";

.cost {
  padding-top: 97px;
  padding-bottom: 82px;
  background: linear-gradient(0deg, rgba(211, 169, 80, 0.2) 0%, rgba(211, 169, 80, 0.2) 41.68%, rgba(211, 169, 80, 0) 86.98%);
  //opacity: 0.5;
  //transform: rotate(90deg);

  @include respond-to(sm) {
    padding-top: 82px;
  }

  //.cost-container {
  //  max-width: 1248px;
  //  margin-left: auto;
  //  margin-right: auto;
  //  padding-left: 1rem;
  //  padding-right: 1rem;
  //  @include respond-to(xl) {
  //    max-width: 1024px;
  //  }
  //  @include respond-to(lg) {
  //    max-width: 672px;
  //  }
  //  @include respond-to(md) {
  //    max-width: 550px;
  //    padding-left: 0;
  //    padding-right: 0;
  //  }
  //}

  .cost__title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 74px;
  }
}