@import "../../variables";

.guarantee {
  margin-left: auto;
  margin-right: auto;
  //padding-top: 84px;
  //padding-bottom: 92px;
  position: relative;
  overflow: hidden;
  color: white;

  @include respond-to(lg) {
    color: $dark;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, rgba(143, 147, 158, 1) 50%, rgba(203, 208, 216, 0) 70%);

    @include respond-to(lg) {
      content: none;
    }
  }

  .guarantee__img {
    margin-right: -120px;
    z-index: -1;
    width: 790px;

    @include respond-to(lg) {
      height: 200px;
      width: 100%;
      object-fit: cover;
      margin: 0 0 15px;
    }
  }

  .guarantee__content-title {
    margin-bottom: 31px;

    span {
      background: #4ADB9A;
      padding: 10px;

      @include respond-to(sm) {
        padding: 5px;
      }
    }
  }

  .guarantee__content-subtitle {
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 68px;

    @include respond-to(sm) {
      font-size: 20px;
      line-height: 28px;
    }
  }
}