@import "../../variables";

.salary {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  color: #FFFFFF;

  @include respond-to(lg) {
    color: $dark;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, rgba(#158B91, 1) 50%, rgba(203, 208, 216, 0) 70%);

    @include respond-to(lg) {
      content: none;
    }
  }

  .salary__img {
    margin-right: -120px;
    z-index: -1;
    width: 790px;

    @include respond-to(lg) {
      height: 200px;
      width: 100%;
      object-fit: cover;
      margin: 0 0 15px;
    }
  }

  .salary__content-title {
    margin-bottom: 31px;

    @include respond-to(sm) {
      text-align: center;
    }
  }
}